/*-------------------------- FONTS ---------------------------*/
@font-face {
  font-family: 'DMSans Regular';
  src: url("../../textfont/DMSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans Bold';
  src: url("../../textfont/DMSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*-------------------------- VARIABLES ---------------------------*/
/*-------------------------- PRESETS ---------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 62.5em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 54%;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 51%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "DMSans Regular", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*-------------------------- TYPOGRAPHY ---------------------------*/
.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  flex: 0 0 33%;
  background-color: #232323;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6rem 9rem;
  color: #dfdfdf99;
}

.main-content {
  flex: 1;
  background-color: #FFFFFF;
  padding: 4rem 10rem;
}

.sidebar .logo {
  display: block;
  height: 3rem;
  width: 3rem;
  background-color: #FFFFFF;
  position: relative;
}

.sidebar .logo::before {
  content: '';
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: .7rem;
  left: .75rem;
  background-color: #232323;
}

.side-nav__item {
  margin-bottom: 1rem;
  padding: .5rem 0;
  position: relative;
}

.side-nav__item--active {
  position: relative;
}

.side-nav__item--active::before {
  content: '';
  position: absolute;
  top: -1rem;
  left: -9rem;
  width: 3px;
  height: 150%;
  background-color: #FFCA00;
}

.side-nav__link {
  color: #dfdfdf99;
  font-family: "DMSans Regular", sans-serif;
  font-weight: 600;
  font-size: 1.35rem;
  letter-spacing: 1px;
  transition: color .3s;
}

.side-nav__link--active {
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-nav__link:hover {
  color: #FFFFFF;
}

.get-started {
  margin-top: -11rem;
  font-size: 1.2rem;
  padding: 1.5rem 0;
  position: relative;
}

.get-started::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 5rem;
  height: 1px;
  max-width: 100%;
  border-top: 2px dashed #FFCA00;
}

.quote-box {
  border: 1px solid #777;
  padding: 3rem 4.5rem;
  font-size: 1.2rem;
  border-radius: 8px;
  position: relative;
}

.quote-box::before {
  content: '';
  position: absolute;
  top: 3rem;
  left: -4rem;
  height: 8rem;
  width: 8rem;
  background-image: url("../../assets/quote.svg");
  background-color: #232323;
  background-repeat: no-repeat;
  background-size: cover;
}

.quote-box cite {
  display: block;
  margin-top: 1rem;
  font-style: normal;
}

.main-content h3 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #777;
}

.main-content h2 {
  font-size: 1.5rem;
  letter-spacing: .5px;
  font-weight: 900;
}

.main-content h1 {
  font-size: 2.2rem;
  font-weight: 900;
  font-family: "DMSans Regular", sans-serif;
  word-spacing: 1.5px;
  margin-top: .7rem;
  margin-bottom: 1.1rem;
}

.main-content h1 span {
  color: #FFCA00;
  font-style: italic;
}

.main-content .sub-text {
  font-size: 1.1rem;
  color: #777;
}

.main-content .row-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-content .row-1 .col-2 {
  display: flex;
  flex-direction: column;
}

.main-content .row-1 .col-2 .currency {
  color: #b4cbff;
  font-size: 1rem;
  font-weight: 900;
}

.main-content .row-1 .col-2 .amount {
  color: #4981F2;
  font-size: 1.8rem;
  font-weight: 900;
  font-family: "DMSans Regular", sans-serif;
}

.main-content .row-1 .col-2 .amount--sub-text {
  font-weight: 600;
  color: #777;
  font-size: 1.4rem;
}

.main-content .row-1 .col-2 .amount--sub-text span {
  font-size: .8rem;
  letter-spacing: .5px;
}

.main-content .row-2 {
  margin-top: 1rem;
  padding: 3rem 0;
  display: flex;
  align-items: center;
}

.main-content .row-2 .col-1 {
  background-color: #FFFFFF;
  box-shadow: -15px 25px 15px 5px rgba(153, 180, 235, 0.1), 1px 25px 15px 5px rgba(153, 180, 235, 0.1);
  flex-basis: 50%;
  padding: 3rem;
  margin-right: 1rem;
}

.main-content .row-2 .col-1 p:first-child {
  color: #FFCA00;
  font-weight: 600;
  letter-spacing: .3px;
  font-size: 1.2rem;
}

.main-content .row-2 .col-1 .currency {
  font-size: .9rem;
  font-weight: 600;
  color: #777;
  display: block;
  margin-bottom: -4px;
}

.main-content .row-2 .col-1 .amount {
  color: #232323;
  font-size: 1.8rem;
  font-weight: 900;
  font-family: "DMSans Regular", sans-serif;
}

.main-content .row-2 .col-1 .plan-details {
  margin-top: 2.5rem;
}

.main-content .row-2 .col-1 .plan-details .premium {
  margin-bottom: -1.3rem;
}

.main-content .row-2 .col-1 .plan-details p {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #777;
  font-weight: 600;
}

.main-content .row-2 .col-1 .plan-details span {
  padding-right: .5rem;
}

.main-content .row-2 .col-1 .plan-details .divider {
  color: #FFCA00;
  font-size: 3rem;
}

.main-content .row-2 .col-2 {
  border: 1px solid #4981F2;
  border-radius: 5px;
  flex: 1;
  margin-left: 1rem;
  padding: 4rem;
  font-size: 1.25rem;
  color: #777;
  background-color: rgba(198, 212, 252, 0.25);
  position: relative;
}

.main-content .row-2 .col-2::before {
  content: '';
  position: absolute;
  top: -1.5rem;
  right: -1.5rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-image: url("../../assets/check.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #91D9AA;
}

.main-content .row-2 .col-2 .basic {
  color: #4981F2;
  font-size: 1.8rem;
  font-weight: 900;
  font-family: "DMSans Regular", sans-serif;
  margin-bottom: .9rem;
}

.main-content .row-2 .col-2 .trial-days {
  font-weight: 600;
}

.main-content .row-2 .col-2 .includes {
  margin-top: 2rem;
  margin-bottom: .9rem;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: .5px;
  position: relative;
}

.main-content .row-2 .col-2 .includes::after {
  content: '-------------';
  color: #4981F2;
  position: absolute;
  top: 0;
  left: 120%;
  width: 10rem;
  height: 1px;
}

.main-content .row-2 .col-2 li {
  margin-bottom: .4rem;
  position: relative;
}

.main-content .row-2 .col-2 li::before {
  content: '-';
  position: absolute;
  top: 0;
  left: -1rem;
}

.main-content .row-3 h2 {
  color: #777;
  font-size: 1.4rem;
  letter-spacing: .5px;
  margin-bottom: .2rem;
  font-weight: 600;
}

.main-content .row-3 h2 + span {
  color: #777;
  font-size: 1.2rem;
  font-weight: 500;
}

.main-content .row-3 .user__slider {
  width: 100%;
}

.main-content .row-3 .slider {
  width: 100%;
  height: 7rem;
}

.main-content .row-3 .slider .show-value {
  position: relative;
  width: 100%;
  height: 2.5rem;
}

.main-content .row-3 .slider .show-value span {
  font-size: 1.2rem;
  font-weight: 600;
  position: absolute;
  color: #4981F2;
  text-align: center;
  line-height: 2;
  left: 50%;
  transform: translateX(-50%) scale(0);
  transform-origin: bottom;
  transition: transform 300ms ease-in-out;
}

.main-content .row-3 .slider .show-value span.active {
  transform: translateX(-50%) scale(1);
}

.main-content .row-3 .slider input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  background: #4981F2;
  border-radius: 2px;
  border: none;
  outline: none;
}

.main-content .row-3 .slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 2rem;
  height: 2rem;
  background: #4981F2;
  border-radius: 50%;
  cursor: pointer;
}

.main-content .row-3 .slider .range {
  margin-top: 1.5rem;
  position: relative;
}

.main-content .row-3 .slider .range div {
  position: absolute;
  top: -4.5rem;
  color: #232323;
  font-weight: 600;
  font-size: 1.1rem;
}

.main-content .row-3 .slider .range div:nth-child(2) {
  right: 0px;
}
